
div#blogModal.modal.fade(role="dialog", aria-labelledby="blogModalLabel",aria-hidden="true")
	div.modal-dialog
		div.modal-content
			div.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") &times;
				h4#blogModalLabel.modal-title Add Blog Content
			div.modal-body				
				form.well#blogs-form
					.form-group
						label Title
						input.form-control(name="title", type="text")
					.form-group
						label Date Created
						input.form-control(name="dateCreated", type="date")
					.form-group
						label Media
						input.form-control(name="image", type="text")
					.form-group
						label Summary text
						input.form-control(name="body", type="textarea")
					input(type="hidden", name="_id", value="")
					button.btn.btn-primary(type="submit") Save
			.modal-footer
				button.btn.btn-default(type="button", data-dismiss="modal") Close
div.col-md-8
	//Button trigger modal
	button.btn.btn-primary.btn-sm(type="button", data-toggle="modal", data-target="#blogModal") Add Content
	each item in articles
		.post(data-id=item._id)
			.content
				.date= item.dateCreated
				h3.entry-title= item.title
				p= item.body
			.media
				img(src= "" + item.image, alt= item.title)
			.actions.clearfix
				a.btn.btn-danger.action-delete(data-id=item._id)
					i.fa.fa-trash-o
				| &nbsp;	
				a.btn.btn-primary.action-edit(data-id=item._id)
					i.fa.fa-pencil-square			