div.col-md-4
	div.weatherWidget
		h4 Today
		div.weather
			img(src= current.weatherIconUrl[0].value)
			div.desc= current.weatherDesc[0].value
			div.temp
				span.temp= current.temp_C
				span.feels_line= current.FeelsLikeC
			div.wind
				span.wind= current.windspeedKmph + " Kmph"
					i.fa.fa-flag
				span.wind-direction= "Direction " + current.winddir16Point
					i.fa.fa-compass
					
		h4 Forecast
		each item in forecast
			div= item.date
			div= "Min temp: " + item.mintempC
			div= "Max temp: " + item.maxtempC